/*

Header styles

*/

*{
	margin: 0px;
	padding: 0px;
}

.header
{
	width: 100%;
	background-color: grey;
	height: 45px;
	padding-top: 15px;
}

.header a 
{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 0 20px 0 20px;
}

.header div 
{
	width: 15%;
	margin: 0 auto;
}

/*

Table styles

*/

table.gamesTable {
  border: 1px solid #1C6EA4;
  background-color: #EAEAEA;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.gamesTable td, table.gamesTable th {
  border: 2px solid #AAAAAA;
  padding: 3px 2px;
}
table.gamesTable tbody td {
  font-size: 18px;
  color: #000000;
}
table.gamesTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.gamesTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.gamesTable thead th {
  font-size: 21px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 1px solid #D0E4F5;
}
table.gamesTable thead th:first-child {
  border-left: none;
}

/*

Login page style

*/

.loginContainer
{
	width: 200px;
	margin: 50px auto 0 auto;
}

.steamLogin
{
	width: 200px;
	height: 66px;
}

.avatar
{
	display: inline;
}

.avatar img
{
	width: 109px;
}

.textContainer
{
	float: right;
	display: inline;
	padding-left: 15px;
}

.username
{
	font-size: 32px;
	margin-bottom: 50px;
}



